<img src="assets/imagemdotopo.jpg" class="img-fluid" width="2000" height="400">

<section class="CabecalhoPrincipal">
    <h1>Press the button to get the companies!</h1>
</section>
<div class="container">
    <app-lista></app-lista>
</div>