<div id="detalhe" class="row d-flex justify-content-center">
    <table class="table table-dark mt-5 ">
        <thead>
            <tr class="text-center">
                <th scope="col">Name of Company</th>
                <th scope="col">Segment</th>
                <th scope="col">Standard Deviation for its quotes for all time.</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let u of company">

                <td> {{u.name}} </td>
                <td> {{u.segment}}</td>
                <td> {{u.deviation}}</td>

            </tr>

        </tbody>
    </table>
</div>

<div class="text-center">
    <button class="btn-danger btn-lg mr-2 btn-block " (click)="getCompanies()"> GET COMPANIES </button>

</div>